<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bölme</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Bolme.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jQuery-File.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 class="soru"></h1>
        <div class="butonlar">
            <button class="yanit1"></button><br><br>
            <button class="yanit2"></button>
            <button class="yanit3"></button>
        </div>
        <h1 class="dsayi">0 Doğru!</h1>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='Bolme.js') }}"></script>
</body>
</html>