<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkında</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Hakkinda.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hakkında</h1><hr>
        <h3>Bu Oyun 2 Tane 10-11 Yaşlarındaki Çocukların Yaptığı Bir Oyundur. O Yüzden Oyunun Tasarımını Kötülemeden Önce Bir Daha Düşünün Oyun Boş Ta Olsa Eğitici Olmuştur Diye Umut Ediyoruz <br><br> Yapımcılar: <br><br><br> Rüzgar Önal: Tasarım (Bi Kısmı, Diğer Kısmı HTML, CSS İle Kerem Tarafından Yapıldı) <br><br> Kerem Kavuştu: Kodlama ( Butonlar, Fonksiyonlar Falan Filan ) <br><hr><br> Kullanılan Programlama Dilleri Veya Web Teknolojileri: <br><br> HTML, CSS, JAVASCRIPT ( jQuery ) </h3>
        <br><br><br>
        <a href="/">Anasayfaya Dön</a>
    </div>
</body>
</html>