<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mat Oyunu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Matematik 4 İşlem Oyunu</h1>
        <div class="butonlar">
            <a href="/islemsecme" class="oyna">OYNA</a><br><br><br>
            <a href="/hakkinda" class="hakkinda">HAKKINDA</a>
        </div>
    </div>
</body>
</html>