<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İşlemi Seç!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='IslemSecme.css') }}">
</head>
<body>
    <div class="container">
        <h1>İşlemi Seç!</h1>
        <div class="butonlar">
            <a href="/toplama" class="toplama">Toplama</a><br><br>
            <a href="/cikarma" class="cikarma">Çıkarma</a><br><br>
            <a href="/carpma" class="carpma">Çarpma</a><br><br>
            <a href="/bolme" class="bolme">Bölme</a>
            <br><br><br>
            <a href="/" class="adon">Anasayfaya Dön</a>
        </div>
    </div>
</body>
</html>